body {
  font-family: Arial, sans-serif;
  background-color: rgb(229, 229, 240);
  line-height: 1.5;
  font-size: 80%;
  
}

.item {
    border-style:ridge;
    border-color: rgb(17, 184, 142);
}
#block_1, #block_2, #block_3, #block_4, #block_5{
    
    border-radius: 10px;
    padding: 2em; 
   
}
.personalData img{
  border-radius: 100%;
  border: 2px solid white;
  float: left;
  margin: 5px;
  
}
.personalData{
  line-height: 1;
  padding: 1%;
  font-size: 70%;

}

.adres{
  color:rgba(192, 192, 192, 0.856);
  padding-top: 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto(100px, auto);
    grid-gap: 1em;
    margin-left: 2%;
    margin-right: 2%;
}
#block_1{
  grid-column:  1/3;
  background-color:rgba(98, 0, 255, 0.671);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 70% 0;
  color: white;
}
#block_2{
  color: white;
  background-color:rgb(100, 100, 100)
}
#block_5{
  grid-column: 2/4;
  background-color:rgb(48, 48, 48);
  color: white;
}
#block_3{
  grid-column: 4;
  grid-row: 1/3;
  background-color : white;
}
#block_4{
  background-color: white;
}
@media screen and (max-width: 720px) {

    #container {
      grid-template-columns:auto;
  }
  #block_1, #block_2, #block_3, #block_4, #block_5{
    grid-column:auto;}

    #block_3{
      grid-row:auto;
    }
}